@mixin flexbox($position-x: center, $center-y: flex-start, $gap: 0px, $flex-wrap: nowrap){
    display: flex;
    justify-content: $position-x;
    align-items: $center-y;
    flex-wrap: $nowrap;
    gap: $gap;
}