   
   
    $accent-color: #ffffff;
    $text-color: #212121;
    $background-color-accent: #2f303a;
    $background-color-ourteam: #f5f4fA;
    $additional-text-color: #757575;
    $hover-color: #2196f3;
    $icon-color: #afb1b8; 