body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(255, 241, 241);
}

ul {
    list-style: none;
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

li {
    width: 300px;
    padding: 10px;
    border: 3px solid rgb(207, 124, 188);
    background-color: rgb(238, 238, 238);
    box-shadow: 5px 7px 10px rgb(195, 191, 192);
    border-radius: 20px
    
}

h2 {
    color: rgb(97, 88, 88);
    font-weight: 200
}

p {
    color: rgb(127, 111, 111);
    font-weight: 100
}


