.footer__title2, .footer__title, .team__title, .features__title, .header__logo1, .header__logo2 {
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  flex-shrink: 0;
  outline: solid red;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
}
.header__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    margin-left: 88px;
    margin-right: 96px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 47px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    margin-left: 93px;
    margin-right: 318px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
  }
}
.header__autorization {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__autorization {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header__autorization {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 30px;
    flex-direction: row;
  }
}
.header__logo2 {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  animation-name: header-logo;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .header__logo2 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo2 {
    font-size: 26px;
  }
}
.header__logo1 {
  font-family: "Raleway", sans-serif;
  color: #212121;
  animation-name: header-logo;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-size: 24px;
  display: flex;
  justify-content: left;
}
@media screen and (min-width: 768px) {
  .header__logo1 {
    font-size: 24px;
    display: inherit;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo1 {
    font-size: 26px;
    display: inherit;
  }
}
.header__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item {
  animation-name: header-link;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header__link:hover, .header__email:hover, .header__phone:hover, .header__link:focus, .header__email:focus, .header__phone:focus {
  color: #2196f3;
  text-decoration: none;
}
.header__item:hover .header__link::after, .header__item:focus .header__link::after {
  opacity: 1;
}
.header__link::after {
  transition-property: background-color, opacity;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  opacity: 0;
  position: absolute;
  bottom: -31.5px;
  border-radius: 2px;
  right: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__envelope {
  fill: #757575;
}
@media screen and (min-width: 768px) {
  .header__envelope {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__envelope {
    width: 16px;
    height: 12px;
  }
}
.header__smartphone {
  fill: #757575;
}
@media screen and (min-width: 768px) {
  .header__smartphone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .header__smartphone {
    width: 10px;
    height: 16px;
  }
}
.header__email:hover .header__envelope, .header__email:focus .header__envelope, .header__phone:hover .header__smartphone, .header__phone:focus .header__smartphone {
  fill: #2196f3;
}
.header__email, .header__phone {
  color: #757575;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: header-email;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (min-width: 768px) {
  .header__email, .header__phone {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header__email, .header__phone {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.hero__section {
  /* background-color: var(--background-color-accent); */
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 118px;
  padding-bottom: 128px;
}
@media screen and (min-width: 1200px) {
  .hero__section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  animation-name: hero-title;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  margin: 0 auto;
  font-size: 26px;
  max-width: 360px;
  line-height: 1.61em;
  letter-spacing: 1.56px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    max-width: 696px;
    width: 696px;
    line-height: 1.3em;
    letter-spacing: 0.02;
  }
}
.hero__button {
  border: none;
  margin: 0 auto;
  margin-top: 30px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
  display: block;
  text-align: center;
  cursor: pointer;
  animation-name: hero-button;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  padding: 10px 24px 10px 24px;
}
@media screen and (min-width: 768px) {
  .hero__button {
    padding: 10px 24px 10px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 36px 10px 36px;
  }
}

/* .hero-button:hover, .hero-button:focus {
    border: none;
    margin: 0 auto;
    margin-top: 42px;
    color: var(--hover-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--background-color-accent);
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
/* display: block;
text-align: center; */
.features__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .features__list {
    flex-wrap: nowrap;
  }
}
.features__item::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  background-color: #f5f4fA;
  width: 100%;
  height: 120px;
}
@media screen and (min-width: 768px) {
  .features__item::before {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item::before {
    width: 270px;
    height: 120px;
  }
}
.features__item:nth-child(1)::before {
  background-image: url("../img/antenna-1.png");
}
.features__item:nth-child(2)::before {
  background-image: url("../img/clock-1.png");
}
.features__item:nth-child(3)::before {
  background-image: url("../img/diagram-1.png");
}
.features__item:nth-child(4)::before {
  background-image: url("../img/astronaut-1.png");
}
.features__item {
  animation-name: features-item;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.features__section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.features__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}
.features__article {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .features__article {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__article {
    width: 270px;
  }
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: inline;
  }
  .work__section {
    padding-bottom: 94px;
  }
  .work__list {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
  }
  .work__list {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
  }
  .work__item {
    position: relative;
  }
  .work__div {
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    width: 370px;
    height: 70px;
    top: 224px;
    padding: 27px 0 27px 0;
  }
  .work__item p {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  .work__title {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
  }
}

.team__section {
  background-color: #f5f4fA;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  color: #212121;
  text-align: center;
  font-size: 28px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
  }
}
.team__image {
  max-width: 450px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 480px) {
  .team__image {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .team__image {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__image {
    width: 270px;
    height: 260px;
  }
}
.team__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .team__list {
    margin-top: 50px;
    flex-wrap: nowrap;
  }
}
.team__item {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  padding-bottom: 24px;
  max-width: 450px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    padding-bottom: 30px;
    width: 270px;
  }
}
.team__person {
  margin-top: 30px;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.03em;
}
.team__job {
  margin-top: 10px;
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.03em;
}
.teamsocial__list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding-left: 122px;
  padding-right: 122px;
}
@media screen and (min-width: 768px) {
  .teamsocial__list {
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .teamsocial__list {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.teamsocial__item a {
  max-width: 44px;
  max-height: 44px;
  padding: 12px 12px 12px 12px;
  cursor: pointer;
  display: block;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .teamsocial__item a {
    width: 44px;
    height: 44px;
  }
}
.team__instagram, .team__twitter, .team__facebook, .team__linkedin {
  max-width: 20px;
  max-height: 20px;
  fill: #afb1b8;
}
@media screen and (min-width: 480px) {
  .team__instagram, .team__twitter, .team__facebook, .team__linkedin {
    width: 20px;
    height: 20px;
  }
}
.teamsocial__item a:hover, .teamsocial__item a:focus {
  background-color: #2196f3;
  border-radius: 50%;
}
.teamsocial__item a:hover .team__instagram, .teamsocial__item a:hover .team__twitter, .teamsocial__item a:hover .team__facebook, .teamsocial__item a:hover .team__linkedin, .teamsocial__item a:focus .team__instagram, .teamsocial__item a:focus .team__twitter, .teamsocial__item a:focus .team__facebook, .teamsocial__item a:focus .team__linkedin {
  fill: #ffffff;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__container h2 {
  color: #212121;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1.08px;
  font-size: 28px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__container h2 {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
.clients__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}
.clients__item a {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  cursor: pointer;
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 16px 52px 16px 52px;
  flex-basis: 50%;
}
@media screen and (max-width: 768px) {
  .clients__item a {
    width: 210px;
    height: 92px;
    flex-shrink: 1;
    flex-basis: 50%;
  }
}
@media screen and (min-width: 768px) {
  .clients__item a {
    width: 226px;
    height: 92px;
    padding: 16px 60px 16px 60px;
    flex-basis: 33.3333333333%;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item a {
    width: 170px;
    height: 92px;
    padding: 16px 32px 16px 32px;
  }
}
.clients__client, .clients__client2, .clients__client3, .clients__client4, .clients__client5, .clients__client6 {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item a:hover .clients__client, .clients__item a:hover .clients__client2, .clients__item a:hover .clients__client3, .clients__item a:hover .clients__client4, .clients__item a:hover .clients__client5, .clients__item a:hover .clients__client6, .clients__item a:focus .clients__client, .clients__item a:focus .clients__client2, .clients__item a:focus .clients__client3, .clients__item a:focus .clients__client4, .clients__item a:focus .clients__client5, .clients__item a:focus .clients__client6 {
  fill: #2196f3;
}
.clients__item a:hover, .clients__item a:focus {
  border: 1px solid #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__title {
  color: #ffffff;
  font-family: "Raleway";
  margin-bottom: 20px;
  font-size: 24px;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    font-size: 26px;
  }
}
.footer__title2 {
  color: #2196f3;
  font-family: "Raleway";
  margin-bottom: 20px;
  font-size: 24px;
}
@media screen and (min-width: 1200px) {
  .footer__title2 {
    font-size: 26px;
  }
}
.footer__address {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: block;
  text-decoration: none;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    margin-bottom: 9px;
  }
}
.footer__list {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 9px;
  }
}
.footer__email, .footer__phone {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer__links {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__links {
    padding-top: 5px;
    margin-top: 0;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__links {
    margin-top: 0;
    padding-top: 12px;
    margin-left: 70px;
  }
}
.footer__links h2 {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
    flex: 0 0 100%;
    flex-wrap: wrap;
  }
}
.footer__linkslist {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.footer__linksitem a {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px 12px 12px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__linksitem .footer__icons {
  fill: #ffffff;
}
.footer__linksitem a:hover, .footer__linksitem a:focus {
  background-color: #2196f3;
}
.footer__form {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__form {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    margin-left: 93px;
    margin-top: 0;
    padding-top: 10px;
  }
}
.footerform__container {
  display: inline;
}
@media screen and (min-width: 1200px) {
  .footerform__container {
    display: flex;
  }
}
.footer__form h2 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__form h2 {
    margin-bottom: 20px;
    margin-top: 0;
  }
}
.footer__form input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  color: #ffffff;
  max-width: 450px;
  height: 50px;
  margin-bottom: 20px;
  flex-shrink: 0;
}
@media screen and (min-width: 480px) {
  .footer__form input {
    width: 450px;
    height: 50px;
    flex-shrink: 1;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form input {
    margin-right: 12px;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
  }
}
.footer__form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
}
.footer__form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
}
.footer__form button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  padding: 10px 28px 10px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .footer__form button {
    margin: 0;
  }
}
.footer__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  fill: #ffffff;
}
.footer__icons {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

/* &__container {
    outline: solid red;
} */
.backdrop {
  position: fixed;
  background-color: transparent;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* backdrop-filter: blur(3px); */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  transition-property: visibility, opacity;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(0, 0) scale(0, 0) rotate(0);
}
.backdrop__list {
  margin-top: 12px;
  margin-bottom: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.backdrop__information {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  display: block;
}
.backdrop__type {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 12px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 4px;
  width: 300px;
}
@media screen and (min-width: 480px) {
  .backdrop__type {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__type {
    width: 448px;
  }
}
.backdrop__button {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  display: block;
  margin: 0 auto;
  /* text-align: center; */
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8; /* 187.5% */
  letter-spacing: 0.96px;
  border: none;
  cursor: pointer;
  padding: 10px 52px 10px 52px;
}
.backdrop__type::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}
.backdrop__type::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}
.backdrop__item:hover .modal__icon, .backdrop__item:hover .backdrop__type {
  fill: #2196f3;
  border-color: #2196f3;
}

.modal {
  width: 360px;
  /* height: 400px; */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 38px 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1, 1) rotate(720deg);
  padding: 20px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  transition-property: transform;
  transition-duration: 1500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal h2 {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
}
.modal__close {
  position: absolute;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 30px;
  height: 30px;
  /* padding: 5.5px 6px 6px 5.5px; */
  border-radius: 50%;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.modal__icon {
  width: 18px;
  height: 18px;
  fill: #212121;
  position: absolute;
  top: -20px;
}
@media screen and (min-width: 1200px) {
  .modal__icon #modal-icon1 {
    top: 60px;
    left: 56px;
  }
  .modal__icon #modal-icon2 {
    left: 58px;
  }
  .modal__icon #modal-icon3 {
    top: 246px;
    left: 52px;
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 480px) {
  #modal-icon1 {
    top: 126px;
    left: 56px;
  }
  #modal-icon2 {
    top: 198px;
    left: 54px;
  }
  #modal-icon3 {
    top: 266px;
    left: 50px;
    width: 28px;
    height: 28px;
  }
}
@media screen and (max-width: 480px) {
  #modal-icon1 {
    top: 126px;
    left: 44px;
  }
  #modal-icon2 {
    top: 198px;
    left: 46px;
  }
  #modal-icon3 {
    top: 266px;
    left: 42px;
    width: 28px;
    height: 28px;
  }
}
.icon__close {
  width: 18px;
  height: 18px;
  fill: #000000;
}
.icon__close:hover {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* 
  .no-scroll {
    overflow: hidden;
  } */
.checkbox__div {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.checkbox__information {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36px;
}
@media screen and (min-width: 480px) {
  .checkbox__information {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.36px;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox__information {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7; /* 171.429% */
    letter-spacing: 0.42px;
  }
}

.contract {
  color: #2196f3;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  cursor: pointer;
}

@keyframes header-logo {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes header-link {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes header-email {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes hero-title {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes hero-button {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes features-item {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes hero-button {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes products-item {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */