:root {
    --accent-color: #FFFFFF;
    --text-color: #212121;
    --background-color-accent: #2F303A;
    --background-color-ourteam: #F5F4FA;
    --additional-text-color: #757575;
    --hover-color: #2196F3;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 370px;
    height: 294px;
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    /* border: solid 2px red; */
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    border: solid var(--background-color-ourteam);
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-nav {
    display: flex;
    align-items: center;
   
}

.header-list {
    display: flex;
    margin-left: 93px;
    margin-right: 344px;
    gap: 50px;
}

.header-autorization {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.header-logo2 {
    font-family: 'Raleway', sans-serif;
    color: var(--hover-color);
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
}

.header-logo1 {
    font-family: 'Raleway', sans-serif;
    color: var(--text-color);
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
}

.header-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-link:hover, 
.header-email:hover, 
.header-phone:hover,
.header-link:focus, 
.header-email:focus, 
.header-phone:focus{
    color: var(--hover-color);
    text-decoration: none;
}

.header-email, .header-phone {
    color: var(--additional-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
}



/* Hero Section */

.hero-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero-list {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.hero-button {
    padding: 6px 22px;
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6; 
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    flex-shrink: 0;
    background: var(--background-color-ourteam);
}

.hero-button:hover, .hero-button:focus{
    color: var(--accent-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;

    border-radius: 4px;
    background: var(--hover-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}



.products-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
}

.products-item {
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid var(--background-color-ourteam);
}

.products-title {
    /* padding-right: 22px; */
    padding-left: 24px;
    margin-top: 20px;
    margin-bottom: 4px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}

.products-article {
    /* padding-right: 22px; */
    padding-left: 24px;
    color: var(--additional-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8; 
    letter-spacing: 0.03em;
    padding-bottom: 20px;
}





footer {
    background-color: var(--background-color-accent);
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer-title {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.footer-title2 {
    color: var(--hover-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
    margin-bottom: 26px;
}

.footer-address {
    color: var(--accent-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    display: block;
    text-decoration: none;
    margin-bottom: 9px;
}

.footer-list {
    display: flex;
    flex-direction: column; 
    gap: 9px;
}

.footer-email, .footer-phone {
    color: var(--additional-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none; 
}



/* section {
    outline: solid green;
  } */