* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  /* outline: solid 2px red; */
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  border: solid #f5f4fA;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-left: 93px;
  margin-right: 318px;
  gap: 50px;
}

.header-autorization {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.header-logo2 {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;
  animation-name: header-logo;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header-logo1 {
  font-family: "Raleway", sans-serif;
  color: #212121;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;
  animation-name: header-logo;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item {
  animation-name: header-link;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header-link:hover,
.header-email:hover,
.header-phone:hover,
.header-link:focus,
.header-email:focus,
.header-phone:focus {
  color: #2196f3;
  text-decoration: none;
}

.header-item:hover .header-link::after,
.header-item:focus .header-link::after {
  opacity: 1;
}

.header-link::after {
  transition-property: background-color, opacity;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  opacity: 0;
  position: absolute;
  bottom: -31.5px;
  border-radius: 2px;
  right: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-envelope {
  width: 16px;
  height: 12px;
  fill: #757575;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  fill: #757575;
}

.header-email:hover .icon-envelope,
.header-email:focus .icon-envelope,
.header-phone:hover .icon-smartphone,
.header-phone:focus .icon-smartphone {
  fill: #2196f3;
}

.header-email, .header-phone {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: header-email;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.hero-button {
  padding: 6px 22px;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  flex-shrink: 0;
  background-color: #f5f4fA;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: hero-button;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hero-button:hover, .hero-button:focus {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}

.products-img {
  width: 368px;
  height: 294px;
}

.products-item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #f5f4fA;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: products-item;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.products-item:hover, .projects-item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.products-item:hover .overlay, .projects-item:focus .overlay {
  opacity: 1;
  transform: translate(0, 0);
}

.products-title {
  /* padding-right: 22px; */
  padding-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.products-article {
  /* padding-right: 22px; */
  padding-left: 24px;
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
}

.overlay {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(0%, 50%);
}

.overlay p {
  width: 322px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55; /* 155.556% */
  letter-spacing: 0.03em;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* .footer-container {
    outline: solid red;
} */
.footer-title {
  color: #ffffff;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer-title2 {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;
  margin-bottom: 26px;
}

.footer-address {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: block;
  text-decoration: none;
  margin-bottom: 9px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-email, .footer-phone {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-links {
  padding-top: 12px;
  margin-left: 70px;
}

.footer-links h2 {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-container {
  display: flex;
}

.footer-linkslist {
  display: flex;
  gap: 10px;
}

.footer-linksitem a {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px 12px 12px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-linksitem a .icon-instagram,
.footer-linksitem a .icon-twitter,
.footer-linksitem a .icon-facebook,
.footer-linksitem a .icon-linkedin {
  fill: #ffffff;
}

.footer-linksitem a:hover, .footer-linksitem a:focus {
  background-color: #2196f3;
}

.footer-form {
  margin-left: 93px;
  padding-top: 10px;
}

.footerform-container {
  display: flex;
}

.footer-form h2 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  padding-left: 16px;
  color: #ffffff;
}

.footer-form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.footer-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.footer-form button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  padding: 10px 28px 10px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  fill: #ffffff;
}

.icon-instagram, .icon-twitter, .icon-facebook, .icon-linkedin {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.backdrop {
  position: fixed;
  background-color: transparent;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* backdrop-filter: blur(3px); */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  transition-property: visibility, opacity;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  /* height: 400px; */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 38px 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1, 1) rotate(720deg);
  padding: 20px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  transition-property: transform;
  transition-duration: 1500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(0, 0) scale(0, 0) rotate(0);
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: #000000;
}

.icon-close:hover {
  fill: #2196f3;
}

.modal-close {
  position: absolute;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 30px;
  height: 30px;
  /* padding: 5.5px 6px 6px 5.5px; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* 
  .no-scroll {
    overflow: hidden;
  } */
.modal h2 {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.backdrop-list {
  margin-top: 12px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.backdrop-information {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  display: block;
}

.backdrop-type {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  padding-left: 12px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 4px;
}

.checkbox-div {
  display: flex;
  gap: 8px;
  margin-bottom: 30px;
  justify-content: center;
}

.checkbox-information {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;
}

.contract {
  color: #2196f3;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  cursor: pointer;
}

.backdrop-button {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  display: block;
  margin: 0 auto;
  /* text-align: center; */
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8; /* 187.5% */
  letter-spacing: 0.96px;
  border: none;
  cursor: pointer;
  padding: 10px 52px 10px 52px;
}

.backdrop-type::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.backdrop-type::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.modal-icon {
  width: 18px;
  height: 18px;
  fill: #212121;
  position: absolute;
  left: 56px;
}

/* .backdrop-item:hover .modal-icon {
    fill: var(--hover-color)
} */
/* .backdrop-item:hover .backdrop-input {
    border-color: var(--hover-color)
} */
.backdrop-item:hover .modal-icon, .backdrop-item:hover .backdrop-type {
  fill: #2196f3;
  border-color: #2196f3;
}

@keyframes header-logo {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes header-link {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes header-email {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes hero-title {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes hero-button {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes features-item {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes hero-button {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes products-item {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=portfolio.css.map */