:root {
    --accent-color: #FFFFFF;
    --text-color: #212121;
    --background-color-accent: #2F303A;
    --background-color-ourteam: #F5F4FA;
    --additional-text-color: #757575;
    --hover-color: #2196F3;
    --icon-color: #AFB1B8;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    /* outline: solid 2px red; */
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header */

header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    margin-left: 93px;
    margin-right: 318px;
    gap: 50px;
}

.header-autorization {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.header-logo2 {
    font-family: 'Raleway', sans-serif;
    color: var(--hover-color);
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
}

.header-logo1 {
    font-family: 'Raleway', sans-serif;
    color: var(--text-color);
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
}

.header-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
}

.header-link:hover, 
.header-email:hover, 
.header-phone:hover,
.header-link:focus, 
.header-email:focus, 
.header-phone:focus{
    color: var(--hover-color);
    text-decoration: none;
}

.header-item:hover .header-link::after, 
.header-item:focus .header-link::after  {
    opacity: 1;
}

.header-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    opacity: 0;
    position: absolute;
    bottom: -31.5px;
    border-radius: 2px;
    right: 0;
}


.icon-envelope {
    width: 16px;
    height: 12px;
    fill: var(--additional-text-color)
}

.icon-smartphone {
    width: 10px;
    height: 16px;
    fill: var(--additional-text-color)
}

.header-email:hover .icon-envelope, 
.header-email:focus .icon-envelope,
.header-phone:hover .icon-smartphone, 
.header-phone:focus .icon-smartphone{
    fill: var(--hover-color);
}

.header-email, .header-phone {
    color: var(--additional-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
}



/* Hero Section */

/* .hero-div {
    margin-top: 28px;
    text-align: center;
} */

.hero-section {
    /* background-color: var(--background-color-accent); */
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../img/hero-background.jpg");
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center;    
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    color: var(--accent-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3em;
    letter-spacing: 0.02;
    text-transform: uppercase;
}

.hero-button{
    border: none;
    margin: 0 auto;
    margin-top: 30px;
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--hover-color);
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
    display: block;
    text-align: center;
    cursor: pointer;
}

/* .hero-button:hover, .hero-button:focus {
    border: none;
    margin: 0 auto;
    margin-top: 42px;
    color: var(--hover-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--background-color-accent);
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
    /* display: block;
    text-align: center; */




/* Features Section */

.features-list {
    display: flex;
    gap: 30px;
}

.features-item::before {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    background-color: var(--background-color-ourteam);
    width: 270px;
    height: 120px;
}

.features-item:nth-child(1)::before {
    background-image: url("../img/antenna-1.png");
}

.features-item:nth-child(2)::before {
    background-image: url("../img/clock-1.png");
}

.features-item:nth-child(3)::before {
    background-image: url("../img/diagram-1.png");
}

.features-item:nth-child(4)::before {
    background-image: url("../img/astronaut-1.png");
}

.features-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-article {
    color: var(--additional-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
}




/* Work Section */

.work-section {
    padding-bottom: 94px;
}

.work-list {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.work-item {
    position: relative;
}

.work-div {
    background: rgba(47, 48, 58, 0.80);
    position: absolute;
    width: 370px;
    height: 70px;
    top: 224px;
    padding: 27px 0 27px 0
}

.work-item p {


    color: var(--accent-color);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    
    
}

.work-title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
}




/* Team Section */

.team-section {
    background-color: var(--background-color-ourteam);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
}

.team-image {
    width: 270px;
    height: 260px;
}

.team-list {
    display: flex;
    margin-top: 50px;
    gap: 30px
}

.team-item {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: var(--accent-color);
    padding-bottom: 30px;
}

.team-person {
    margin-top: 30px;
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.03em;
}

.team-job{
    margin-top: 10px;
    color: var(--additional-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03em;
}

.teamsocial-list {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 16px;
    gap: 10px;
}

.teamsocial-item a {
    padding: 12px 12px 12px 12px;
    cursor: pointer;
    display: block;
    width: 44px;
    height: 44px;
}

.icon-instagram, .icon-twitter, .icon-facebook, .icon-linkedin {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
}

.teamsocial-item a:hover, .teamsocial-item a:focus {
    background-color: var(--hover-color);
    border-radius: 50%;
}

.teamsocial-item a:hover .icon-instagram,
.teamsocial-item a:hover .icon-twitter,
.teamsocial-item a:hover .icon-facebook,
.teamsocial-item a:hover .icon-linkedin,
.teamsocial-item a:focus .icon-instagram,
.teamsocial-item a:focus .icon-twitter,
.teamsocial-item a:focus .icon-facebook,
.teamsocial-item a:focus .icon-linkedin
 {
    fill: var(--accent-color)
}


.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-container h2 {
    margin-bottom: 50px;
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.clients-list {
    display: flex;
    gap: 30px;
}

.clients-item a {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid var(--icon-color);
    padding: 16px 32px 16px 32px;
    cursor: pointer;
    display: block;
}

.icon-client,
.icon-client2,
.icon-client3,
.icon-client4,
.icon-client5,
.icon-client6 {
    width:  106px;
    height: 60px;
    fill: var(--icon-color)
}

.clients-item a:hover .icon-client,
.clients-item a:hover .icon-client2,
.clients-item a:hover .icon-client3,
.clients-item a:hover .icon-client4,
.clients-item a:hover .icon-client5,
.clients-item a:hover .icon-client6,
.clients-item a:focus .icon-client,
.clients-item a:focus .icon-client2,
.clients-item a:focus .icon-client3,
.clients-item a:focus .icon-client4,
.clients-item a:focus .icon-client5,
.clients-item a:focus .icon-client6 {
    fill: var(--hover-color);
}

.clients-item a:hover, .clients-item a:focus {
    border: 1px solid var(--hover-color);
}




/* Footer */

footer {
    background-color: var(--background-color-accent);
    padding-top: 60px;
    padding-bottom: 60px;


}

/* .footer-container {
    outline: solid red;
} */

.footer-title {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.footer-title2 {
    color: var(--hover-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
    margin-bottom: 26px;
}

.footer-address {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    display: block;
    text-decoration: none;
    margin-bottom: 9px;
}

.footer-list {
    display: flex;
    flex-direction: column; 
    gap: 9px;
}

.footer-email, .footer-phone {
    color: var(--additional-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none; 
}

.footer-links {
    padding-top: 12px;
    margin-left: 70px;
}

.footer-links h2 {
    margin-bottom: 20px;
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-container {
    display: flex;
}

.footer-linkslist {
    display: flex;
    gap: 10px;
}

.footer-linksitem a {
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px 12px 12px 12px;
    background-color: rgba(255, 255, 255, 0.10);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.footer-linksitem a .icon-instagram,
.footer-linksitem a .icon-twitter,
.footer-linksitem a .icon-facebook,
.footer-linksitem a .icon-linkedin {
    fill: var(--accent-color)
}

.footer-linksitem a:hover, .footer-linksitem a:focus{
    background-color: var(--hover-color)
}


.footer-form {
    margin-left: 93px;
    padding-top: 10px;
}

.footerform-container {
    display: flex;
  }
  
.footer-form h2 {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
.footer-form input  {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-right: 12px;
    padding-left: 16px;
    color: var(--accent-color);
  }
  
.footer-form input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.48px;
  }
  
  .footer-form button {
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: var(--hover-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--accent-color);
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    padding: 10px 28px 10px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    fill: var(--accent-color);
  }







/* section {
    outline: solid green;
  } */


.backdrop {
    position: fixed;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* backdrop-filter: blur(3px); */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.modal {
    width: 528px;
    /* height: 400px; */
    background-color: var(--accent-color);
    border-radius: 10px;
    box-shadow: 0px 0px 38px 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

.icon-close {
    width: 18px;
    height: 18px;
    fill: #000000;
}

.icon-close:hover {
    fill: var(--hover-color);
}


.modal-close {
    position: absolute;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.10);;
    cursor: pointer; 
    width: 30px;
    height: 30px;
    /* padding: 5.5px 6px 6px 5.5px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;

}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .no-scroll {
    overflow: hidden;
  }

.modal h2 {
    color: var(--text-color);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.backdrop-list {
    margin-top: 12px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.backdrop-information {
    color: var(--additional-text-color);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    display: block;
}

.backdrop-type {
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    width: 448px;
    padding-left: 12px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 4px;
}

.checkbox-div{
    display: flex;
    gap: 8px;
    margin-bottom: 30px;
    justify-content: center;
}

.checkbox-information {
    color: var(--additional-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7; /* 171.429% */
    letter-spacing: 0.42px;
}

.contract {
    color: var(--hover-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
    cursor: pointer
}

.backdrop-button {
    border-radius: 4px;
    background: var(--hover-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--accent-color);
    display: block;
    margin: 0 auto;
    /* text-align: center; */
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8; /* 187.5% */
    letter-spacing: 0.96px;
    border: none;
    cursor: pointer;
    padding: 10px 52px 10px 52px;
}

.backdrop-type::placeholder {
    color: rgba(117, 117, 117, 0.50);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
}

.modal-icon {
    width: 18px;
    height: 18px;
    fill: var(--text-color);
    position: absolute;
    left: 56px;
}

/* .backdrop-item:hover .modal-icon {
    fill: var(--hover-color)
} */


 /* .backdrop-item:hover .backdrop-input {
    border-color: var(--hover-color)
} */

.backdrop-item:hover .modal-icon, .backdrop-item:hover .backdrop-type{
    fill: var(--hover-color);
    border-color: var(--hover-color);
  }
















