:root {
    --accent-color: #FFFFFF;
    --text-color: #212121;
    --background-color-accent: #2F303A;
    --background-color-ourteam: #F5F4FA;
    --additional-text-color: #757575;
    --hover-color: #2196F3;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    /* outline: solid 2px red; */
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header */

header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    margin-left: 93px;
    margin-right: 344px;
    gap: 50px;
}

.header-autorization {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.header-logo2 {
    font-family: 'Raleway', sans-serif;
    color: var(--hover-color);
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
}

.header-logo1 {
    font-family: 'Raleway', sans-serif;
    color: var(--text-color);
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
}

.header-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-link:hover, 
.header-email:hover, 
.header-phone:hover,
.header-link:focus, 
.header-email:focus, 
.header-phone:focus{
    color: var(--hover-color);
    text-decoration: none;
}

.header-email, .header-phone {
    color: var(--additional-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
}



/* Hero Section */

/* .hero-div {
    margin-top: 28px;
    text-align: center;
} */

.hero-section {
    /* background-color: var(--background-color-accent); */
    background-image: url("../img/hero-background.jpg");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;    
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    color: var(--accent-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3em;
    letter-spacing: 0.02;
    text-transform: uppercase;
}

.hero-button{
    border: none;
    margin: 0 auto;
    margin-top: 30px;
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--hover-color);
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
    display: block;
    text-align: center;
    cursor: pointer;
}

/* .hero-button:hover, .hero-button:focus {
    border: none;
    margin: 0 auto;
    margin-top: 42px;
    color: var(--hover-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--background-color-accent);
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
    /* display: block;
    text-align: center; */




/* Features Section */

.features-list {
    display: flex;
    gap: 30px;
}

.features-item::before {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    background-color: var(--background-color-ourteam);
    width: 270px;
    height: 120px;
}

.features-item:nth-child(1)::before {
    background-image: url("../img/antenna-1.png");
}

.features-item:nth-child(2)::before {
    background-image: url("../img/clock-1.png");
}

.features-item:nth-child(3)::before {
    background-image: url("../img/diagram-1.png");
}

.features-item:nth-child(4)::before {
    background-image: url("../img/astronaut-1.png");
}

.features-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-article {
    color: var(--additional-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
}




/* Work Section */

.work-section {
    padding-bottom: 94px;
}

.work-list {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}


.work-title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
}




/* Team Section */

.team-section {
    background-color: var(--background-color-ourteam);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
}

.team-image {
    width: 270px;
    height: 260px;
}

.team-list {
    display: flex;
    margin-top: 50px;
    gap: 30px
}

.team-item {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: var(--accent-color);
}

.team-person {
    margin-top: 30px;
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.03em;
}

.team-job{
    margin-top: 10px;
    padding-bottom: 30px;
    color: var(--additional-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03em;
}


/* Footer */

footer {
    background-color: var(--background-color-accent);
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer-title {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.footer-title2 {
    color: var(--hover-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
    margin-bottom: 26px;
}

.footer-address {
    color: var(--accent-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    display: block;
    text-decoration: none;
    margin-bottom: 9px;
}

.footer-list {
    display: flex;
    flex-direction: column; 
    gap: 9px;
}

.footer-email, .footer-phone {
    color: var(--additional-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none; 
}




/* section {
    outline: solid green;
  } */














