.features {
    &__list {
        @include flexbox($gap: 30px);

        @media screen and (min-width: 400px) {
            flex-wrap: wrap;
        }
    
        @media screen and (min-width: 768px) {
            flex-wrap: wrap;
        };

        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        };
        
    }

    &__item::before {
        content: "";
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        background-color: $background-color-ourteam;

        @media screen and (min-width: 400px) {
            width: 450px;
            height: 120px;
        }
    
        @media screen and (min-width: 768px) {
            width: 354px;
            height: 120px;
        };

        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 120px;
        };
    }

    &__item:nth-child(1)::before {
        background-image: url("../img/antenna-1.png");
    }

    &__item:nth-child(2)::before {
        background-image: url("../img/clock-1.png");
    
    }

    &__item:nth-child(3)::before {
        background-image: url("../img/diagram-1.png");
    
    }

    &__item:nth-child(4)::before {
        background-image: url("../img/astronaut-1.png");
    
    }

    &__item {
        animation-name: features-item;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    &__section {
        @media screen and (min-width: 400px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    
        @media screen and (min-width: 768px) {
            padding-top: 60px;
            padding-bottom: 60px;
        };

        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        };
    }
    
    &__title {
        margin-top: 30px;
        margin-bottom: 10px;
        color: $text-color;
        font-size: 14px;
        @extend %title-styles;
        text-transform: uppercase;

        @media screen and (min-width: 400px) {
            text-align: center;
        }

        @media screen and (min-width: 768px) {
            text-align: left;
        }

        @media screen and (min-width: 1200px) {
            text-align: left;
        }
    }

    &__article {
        color: $additional-text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7;
        letter-spacing: 0.03em;

        @media screen and (min-width: 768px) {
            width: 354px;
        };
        @media screen and (min-width: 1200px) {
            width: 270px;
        };
    }
}






















