.hero {
    &__section {
        /* background-color: var(--background-color-accent); */
        background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/mobile/hero@mobile1x.webp);
        background-size: cover;                     
        background-repeat: no-repeat;
        background-position: center center;  
        padding-top: 118px;
        padding-bottom: 128px;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/mobile/hero@mobile2x.webp)
      }

 

        @media screen and (min-width: 768px) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/tablet/hero@tablet1x.webp);
            @media (min-device-pixel-ratio: 2),
              (min-resolution: 192dpi),
              (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/tablet/hero@tablet2x.webp)
            }
        }

        @media screen and (min-width: 1200px) {
            padding-top: 200px;
            padding-bottom: 200px; 

            background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/desktop/hero@desktop1x.webp);
            @media (min-device-pixel-ratio: 2),
              (min-resolution: 192dpi),
              (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/desktop/hero@desktop2x.webp);
            }
        }
    }

    &__title {
        color: $accent-color;
        text-align: center;
        font-weight: 900;
        text-transform: uppercase;
        animation-name: hero-title;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        margin: 0 auto;
        font-size: 26px;
        max-width: 360px;
        line-height: 1.61em;
        letter-spacing: 1.56px;

        @media screen and (min-width: 1200px) {
            font-size: 44px;
            max-width: 696px;
            width: 696px;
            line-height: 1.3em;
            letter-spacing: 0.02;
        }
    }
    
    &__button{
        border: none;
        margin: 0 auto;
        margin-top: 30px;
        color: $accent-color;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.06em;
        flex-shrink: 0;
        border-radius: 4px;
        background: $hover-color;
        /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
        display: block;
        text-align: center;
        cursor: pointer;
        animation-name: hero-button;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        padding: 10px 24px 10px 24px;
    
        @media screen and (min-width: 768px) {
            padding: 10px 24px 10px 24px;
        };

        @media screen and (min-width: 1200px) {
            padding: 10px 36px 10px 36px;
        };
    }
    
}







/* .hero-button:hover, .hero-button:focus {
    border: none;
    margin: 0 auto;
    margin-top: 42px;
    color: var(--hover-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--background-color-accent);
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
    /* display: block;
    text-align: center; */


