.team {
    &__section {
        background-color: $background-color-ourteam;
        padding-top: 60px;
        padding-bottom: 60px;

        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
    }
    
    &__title {
        color:$text-color;
        text-align: center;
        @extend %title-styles;
        font-size: 28px;

        @media screen and (min-width: 1200px) {
            font-size: 36px;
        }
    }
    
    &__image {
        max-width: 450px;
        width: 100%;
        height: 100%;

        @media screen and (min-width: 480px) {
            width: 450px;
            height: 460px;
        }

        @media screen and (min-width: 768px) {
            width: 354px;
            height: 374px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 260px;
        }
    }
    
    &__list {
        @include flexbox($gap: 30px);
        margin-top: 30px;
        flex-wrap: wrap;

        @media screen and (min-width: 1200px) {
            margin-top: 50px;
            flex-wrap: nowrap;
        }
    }
    
    &__item {
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        background-color: $accent-color;
        padding-bottom: 24px;
        max-width: 450px;
        width: 100%;

        @media screen and (min-width: 480px) {
            width: 450px;
        }

        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            padding-bottom: 30px;
            width: 270px;

        }
    }
    
    &__person {
        margin-top: 30px;
        color: $text-color;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.03em;
    }
    
    &__job{
        margin-top: 10px;
        color: $additional-text-color;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.03em;
    }
    
    &social__list {
        margin-top: 16px;
        @include flexbox($gap: 10px);
        padding-left: 122px;
        padding-right: 122px;

        @media screen and (min-width: 768px) {
            padding-left: 74px;
            padding-right: 74px;
        }

        @media screen and (min-width: 1200px) {
            padding-left: 32px;
            padding-right: 32px;
        }
    }
    
    &social__item a {
        max-width: 44px;
        max-height: 44px;
        padding: 12px 12px 12px 12px;
        cursor: pointer;
        display: block;
        // width: 44px;
        // height: 44px;
        transition-property: all;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 480px) {
            width: 44px;
            height: 44px;
        }
    }
    
    &__instagram, &__twitter, &__facebook, &__linkedin {
        max-width: 20px;
        max-height: 20px;
        fill: $icon-color;

        @media screen and (min-width: 480px) {
            width: 20px;
            height: 20px;
        }
    }
    
    &social__item a:hover, &social__item a:focus {
        background-color: $hover-color;
        border-radius: 50%;
    }
    
    &social__item a:hover &__instagram,
    &social__item a:hover &__twitter,
    &social__item a:hover &__facebook,
    &social__item a:hover &__linkedin,
    &social__item a:focus &__instagram,
    &social__item a:focus &__twitter,
    &social__item a:focus &__facebook,
    &social__item a:focus &__linkedin
     {
        fill: $accent-color
    }
}

