.work {
    &__section {
        padding-bottom: 94px;
    }
    
    &__list {
        margin-top: 50px;
        display: flex;
        gap: 30px;
    }
    
    &__item {
        position: relative;
    }
    
    &__div {
        background: rgba(47, 48, 58, 0.80);
        position: absolute;
        width: 370px;
        height: 70px;
        top: 224px;
        padding: 27px 0 27px 0
    }
    
    &__item p {
    
    
        color: $accent-color;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        
        
    }
    
    &__title {
        color: $text-color;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.03em;
    }
    
}

