
:root {
    --form-color: #F5F7F8;
    --text-color: #705A66;
    --background-color: #F5EEE0;
    --design-color: #DDD5C6;
    --white-background: #FFFFFF;
    --black-color: #252525
}

body {
    background-color: var(--form-color);
}

.container {
    /* outline: solid red; */
    width: 1240px;
    margin: 0 auto 
}

/* section {
    outline: solid green
} */

