* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    // outline: solid 2px red;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: 280px) {
        max-width: 280px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
    };
    

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}

