* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    /* outline: solid 2px red; */
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
