:root {
    --accent-color: #FFFFFF;
    --text-color: #212121;
    --background-color-accent: #2F303A;
    --background-color-ourteam: #F5F4FA;
    --additional-text-color: #757575;
}

body {
    font-family: 'Roboto', sans-serif;
}

.site-title {
    font-family: 'Raleway', sans-serif;
}





