* {
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    border: none;
}

.article {
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px 10px;
    margin-bottom: 30px;
    border: 2px dotted red; 
    background-color: green;
}