* {
    font-style: italic;
}

article {
    border: solid red;
    height: 500px;
    width: 500px;
}

article + article {
    border-radius: 50%;
}

.article-3 {
    border-radius: 50%;
}

body > article {
    background-color: aquamarine;
}

h1, h2 {
    color: brown;
}

article p{
    color: rgb(38, 49, 49);
}

#p-article2 {
    color: rgb(158, 106, 43);
}

.overlay {
    color: rgb(red, green, blue);
}